<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="card-title">
        <p>
          <strong>Nome:</strong>
          <%= @despesa.nome %>
        </p>
      </div>
      <div class="card-text">
        <p>
          <strong>Tipo:</strong>
          <%= @despesa.tipo %>
        </p>
        <% if @despesa.valor.present? %>
          <p>
            <strong>Valor:</strong>
            <%= "#{@despesa.valor}€" %>
          </p>
        <% end %>
      </div>
    <div class="card-body">
  </div>
  <p>



  <%= link_to 'Edit', edit_despesa_path(@despesa), class: "btn btn-primary"%> |
  <%= link_to 'Back', home_path, class: "btn btn-primary" %>
</div>

