<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @entrada.nome %>
</p>

<p>
  <strong>User:</strong>
  <%= @entrada.user %>
</p>

<%= link_to 'Editar', edit_entrada_path(@entrada) %> |
<%= link_to 'Voltar', entradas_path %>
